* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none; margin-top: 0px;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


@media (min-width: 840px) {
.image1 {
  margin-bottom: 20px;
  background-image: url("cover1.jpg");
  background-size: cover;
  cursor: pointer;
  height: 110px;
  width: 14%;
  margin: 0px 2px;
    margin-right: 25px;
    border-radius: 7px;
    border: 2px solid white;
  background-color: #bbb;
  box-shadow: 0 0 5px rgba(255,255,255,0.3);
  position:relative;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
}
}
@media (min-width: 840px) {
.image2 {
  background-image: url("cover2.jpg");
  background-size: cover;
  cursor: pointer;
  height: 125px;
  width: 18%;
  margin: 0px 2px;
  background-color: #bbb;
    border-radius: 7px;
    border: 2px solid white;
  box-shadow: 0 0 5px rgba(255,255,255,0.3);
  position:relative;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
}
}
@media (min-width: 840px) {
.image3 {
  background-image: url("cover3.jpg");
  background-size: cover;
  cursor: pointer;
  height: 110px;
  width: 14%;
  margin: 0px 2px;
    margin-left: 25px;
  background-color: #bbb;
    border-radius: 7px;
    border: 2px solid white;
  box-shadow: 0 0 5px rgba(255,255,255,0.3);
  position:relative;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
}
}
    
    .image1, .image2, .image3 {
        -webkit-transition: 0.5s;
    }
    
    .image1:hover, .image2:hover, .image3:hover {
        box-shadow: 0px 0px 10px rgba(255,255,255,0.6);
        width: 20%;
        height: 135px;
    }

.fade000 {
  -webkit-animation-name: fade000;
  -webkit-animation-duration: 1.5s;
  animation-name: fade000;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade000 {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade000 {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}